.homePage{
    background-image: url("https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    width: 80%;
    margin: 0 9.2rem;
    height: 70vh;
}

.homePage .head{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh  
}

.homePage .foot{
    color: white;
    text-align: center;
}

@media(max-width:768px){
    .homePage{
        width: 140%;
    margin: 0 9.2rem;
    height: 100vh;
    }

    .homePage .head{
        color: white;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh  
    }

    .homePage .foot{
        color: white;
        text-align: center;
        margin-top: 2rem;
    }
}

