.homePage{
    background-image: url("https://media.istockphoto.com/id/962982970/photo/dense-forest-in-the-low-light.jpg?s=612x612&w=0&k=20&c=_2XGHjhHMmKz_PxHDF_v-xRKDUHtAWgHh62Z7xrPgjE=");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 9.2rem;
    height: 75vh;
}

.homePage .head{
    
    
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    
}

.homePage .head h1{
    color: rgba(255, 255, 255, 0.898);
}

.homePage .head h3{
    color: white;
}

.homePage .foot{
    color: white;
    text-align: center;
}

/* @media(max-width:991px){
    .homePage{
        width: 68.5%;
    
    height: 90vh;
    }
} */



@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .homePage{
        width: 182%;
        margin: 0 0 0 0;
    }
    .homePage .head{
        color: white;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh  
    }

    .homePage .foot{
        color: white;
        text-align: center;
        margin-top: 2rem;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 800px) {
    .homePage{
        width: 183%;
        margin: 0 0 0 0;
    }

    .homePage .head{
        font-size: 2rem;
    }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 850px) {
    .homePage{
        width: 100%;
        max-width: 40rem;
        /* margin: 0 9rem */
        /* padding: 0 5rem; */
    }

    .homePage .head{
        font-size: 1rem;
    }
}

/* @media only screen and (min-device-width: 851px) and (max-device-width: 999px){
    .homePage{
        width: 100%;
        max-width: 50rem;
        
    }
  } */

@media only screen and (min-device-width: 851px) and (max-device-width: 999px){
    .homePage{
        width: 100%;
        max-width: 50rem;
        margin: 0 5rem;
    }

    .homePage .head{
        font-size: 1rem;
    }
  }

  
@media only screen and (min-device-width: 1000px) and (max-device-width: 1430px){
    .homePage{
        width: 100%;
        max-width: 60rem;
       
    }
  }
  
  @media(min-width: 1431px){
    .homePage{
        width: 100%;
        max-width: 80rem;
        margin: 0 9rem 0 6rem;
    }
  }
  