.contact{
    margin: 0 9.2rem;
    width:70%;
    height: 20rem;
    background-color: #000000;
    align-items: center;
    display: flex;
}

.contact header{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    margin: auto;
}

.contact header .contact_text{
    flex: 2;
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}

.contact header .contact_link{
    flex: 1.5;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
 
}

.contact header .contact_link a{
    display: flex; 
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin: 5x;
    width: 10rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
/* 
@media(max-width: 800px){
.contact{
    width: 182%;
        margin: 0 0 0 0;
     
}
}

@media(max-width: 640px){
    .contact{
        width: 158%;
        margin: -87px 0 0 38px;
         
    }
    }

@media(max-width: 415px){
    .contact{
        width: 150%;
        margin: -87px 0 0 38px;
         
    }
    }

    @media(max-width: 360px){
        .contact{
            width: 148%;
            margin: -87px 0 0 38px;
             
        }
        }

@media(max-width: 320px){
    .contact{
        width: 145%;
        margin: -87px 0 0 38px;
         
    }
    }

    
     */

     @media(max-width: 324px){
        .contact{
            width: 182%;
            margin: 0 0 0 0;
             
        }

        .contact header .contact_text{
            flex: 2;
            display: flex;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            align-items: center;
        }

        }

     @media only screen and (min-device-width: 324px) and (max-device-width: 768px) {
        .contact{
            width: 182%;
            margin: 0 0 0 0;
        }
    }

    @media only screen and (min-device-width: 801px) and (max-device-width: 850px){
        .contact{
            width: 100%;
            max-width: 40rem;
          
        }
      }

      @media only screen and (min-device-width: 851px) and (max-device-width: 999px){
        .contact{
            width: 100%;
            max-width: 50rem;
            
        }
      }

      @media only screen and (min-device-width: 1000px) and (max-device-width: 1430px){
        .contact{
            width: 100%;
            max-width: 60rem;
            
        }
      }

      @media(min-width: 1431px){
        .contact{
            width: 100%;
            max-width: 80rem;
            margin: 0 9rem 0 6rem;
        }
      }

      