*{
  margin: 0;
  padding: 0;
   
}
.main_header{
  overflow-x: hidden;
  
  width: 81%;
  margin: 0 9.2rem;
  

} 
 
 .main_header header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
 }

 .main_header header span{
  display: none;
  color: white;
 }


 .main_header header img{
  height: 3rem;
    object-fit: contain;
}



.main_header .navMenu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 1rem 4rem;
  font-weight: bold;
  font-size: 1rem;
  width: 90%;
  background-color: rgb(22,26,30);
  
 }
 

  

 .main_header .navMenu span{
  color: white;
  display: none;
 }

 .main_header .navMenu a{
  color:  white;
  text-decoration: none;
 }

  

 @media(max-width:768px){


  .main_header header span{
    display: block;
    color: black;
    
   margin: 0 10rem 0 23rem;
   }

   

   

   .main_header .navMenu span{
    display: block;
   }

   .main_header{
    width: 182%;
    margin: 0;
   }

   
.main_header .navMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding:1rem;
  font-weight: bold;
  font-size: 1rem;
  width: 30%;
  background-color: black;
  position: fixed;
  top:0;
  right: 0;
  transform: translateX(100%);
  transition: 0.7s;
  height: 170vh;
 }

 .show{
  transform: translateX(0) !important ;
 }

 .main_header .navMenu a{
  color:  white;
  text-decoration: none;
  padding: 1rem;
 }

 }


    
@media only screen and (min-device-width: 320px) and (max-device-width: 562px) {
  .main_header header span{
    display: block;
    color: black;
    
   }
}

@media(max-device-width: 800px) {
  .main_header {
    width: 187.4%;
    margin: 0 -0.8rem;

   }
}